<div class="center hero-unit">
  <h1>Simple RailsApi App</h1>

  <h2>
    This is a demo of a
    <a href="http://rubyonrails.org/">Ruby on Rails</a>
    application that exposes an api.
  </h2>

  <%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
