<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "RailsApi App", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Places", places_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%#= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>